@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  /* background-color: rgb(234, 229, 229); */
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}


a,
.btn {
  transition: all 300ms ease;
}


nav,
.nav-links {
  display: flex;

}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgb(94, 94, 243);
  color: whitesmoke;
  


}

.nav-links {
  gap: 2.5rem;
  list-style: none;
  font-size: 1.2rem;
}

a {
  color: whitesmoke;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(195, 195, 195);
}

.logo {
  font-size: 1.8rem;
}

.logo:hover {
  cursor: default;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}


section {
  padding-top: 6vh;
  height: 90vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}


#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  background-color: rgb(255, 255, 255);
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  
  
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
    margin-bottom: 0;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}


.icon {
  cursor: pointer;
  height: 2rem;
}



.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 1rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.4rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}


#about {
  position: relative;
  
}

.about-containers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 6rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 4rem;
  flex: 1;
  background: white;
  border-radius: 1rem;
  border: rgb(5, 0, 0) 0.5rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 50%;
    margin-bottom: 0;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin:   auto 1rem;
   
}
#experience {
  position: relative;
  
}

.experience-sub-title {
  color: rgb(92, 89, 89);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 7rem;
  justify-content: space-around;
  gap: 0.2rem;
}

article .icon {
  cursor: default;
}


#projects {
  position: relative;
  
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: rgb(0, 0, 0);
  border-color: rgb(163, 163, 163);
}

#contact {
  display: flex;
  background-color: rgb(249, 244, 244);
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 96vw;
  left:0 ;
  right: 0;
  padding-left: 0;   /* Ensure no padding */
  padding-right: 0;  /* Ensure no padding */
  margin-left: 0;    /* Ensure no margin */
  margin-right: 0;   

}

.contact-info-upper-container {
  display: flex;
  justify-content:center;
  border-radius: 1rem;
  border: rgb(62, 62, 62) 0.4rem solid;
  border-color: rgb(160, 157, 157);
  background: (250, 250, 250);
  margin: 1rem;
  padding: 0rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  margin: 0.1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}


footer {
  height: 20vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  
}